<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h1>Login</h1>
<form class="form" method="post">
    {% csrf_token %}
     <div class="row">
      <div class="col">
        <input type="text" class="form-control"  placeholder="Ingrese usuario" name="username">
      </div>
      <div class="col">
        <input type="password" class="form-control" placeholder="Ingrese contraseña" name="password">
      </div>
    </div>
    <button class="btn btn-success" type="'submit">Iniciar sesión</button>
</form>

</body>
</html>