<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="">
    <div class="container">
        <h1 class="text_center"> Perfil</h1>
        {% if register2 %}
        <h1>Registro exitoso</h1>
        {% else %}
        <form action="{%  url 'reg' %}" class="form" method="post">
            {% csrf_token %}
            {{ profile_form.as_p }}
            {{ data_form.as_p }}
            <button class="btn btn-success" type="'submit">Registrar</button>
        </form>
        {% endif %}
    </div>

</div>

</body>
</html>